.portfolios-holder {
  border-left: 1px solid #fff;
  height: 15.313rem;
  width: 16.563rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolios {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 0.125rem solid #fff;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    max-width: fit-content;
    max-height: 2rem;
}