.project-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project {
  width: 15.75rem;
  height: 21.875rem;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionsholder {
  visibility: hidden;
  display: flex;
  gap: 0.5rem;
}

.btn-code, .btn-live {
  font-size: 0.8rem;
  border: 1px solid #fff;
  padding: 0.275rem 0.9rem;
}