.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project {
  max-width: 15.75rem;
  max-height: 21.875rem;
}

.btn-code, .btn-live {
  font-size: 0.8rem;
  border: 1px solid #fff;
  padding: 0.275rem 0.9rem;
}