body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  background-color: #fff;
  font-size: 1.125rem;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: #000;
  max-width: fit-content;
}

.btn-border {
  border: 0.125rem solid #fff;
  margin-right: 2rem;
  font-size: 1.25rem;
  padding: 0.375rem 1rem;
}

.btn-bg {
  color: #000;
  background: #fff;
  font-size: 1.25rem;
  padding: 0.375rem 1rem;
}

/* Home  */



/* Projects Page */

.project-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.projects-holder {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.projects-all {
  height: 27.5rem;
  width: 27.5rem;
  border: 1px solid #fff;
}