.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.navigation ul li {
  font-size: 1.125rem;
}