.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 31.313rem;
  align-items: center;
}


input {
  background: #000;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  min-width: 20.5rem;
  max-width: 31.25rem;
}

textarea {
  resize: none;
  background: #000;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  min-width: 20.5rem;
  max-width: 31.25rem;
  margin: 0;
}